* {
    box-sizing: border-box;
}

#content {
    margin: 0 auto;
}

.grid {
    display: grid;
    background-color: red;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    height: 700px;
    width: 700px;
    grid-gap: 2px;
    margin: 0 auto;
}

.grid-item {
    background-color: blue;
    border: 3px solid black;
}

.complete {
    background-color: green;
}

#add-item {
    display: block;
    width: 80px;
    height: 30px;
    margin: 5px auto;
}

#project-menu {
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
    height: 100%;
    width: 20%;
    min-width: 150px;
    position: absolute;
    left: 0;
    top: 0;
}

button.folder {
    display: block;
    width: 80%;
    max-width: 250px;
    height: 30px;
    margin: 10px auto;
    background-color: gray;
    color: black;
}

#item-form {
    position: fixed;
    width: 300px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -150px;
    background-color: pink;
    border: black dashed 4px;
}

label {
    display: block;
    margin: 10px 20px 5px 20px;
}

input, textarea {
    display: block;
    margin: 0 auto;
    padding: 3px 0;
    width: 90%;
}

#confirm {
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
}

textarea {
    height: 60px;
    resize: none;
}