* {
    box-sizing: border-box;
}

#content {
    margin: 0 auto;
}

.grid {
    display: grid;
    background-color: red;
    grid-template-rows: repeat(auto-fit, minmax(150px, 150px));
    grid-gap: 5px 0px;
    margin: 0px 25px 0px 275px;
    padding: 5px 0;
    height: 94vh;
    overflow-y: auto;
    border: groove whitesmoke 10px;
}

.grid-item {
    background-color: blue;
    border: 3px solid black;
    min-height: 150px;
    overflow-y: auto;
}

.grid-item > h2 {
    display: block;
    margin: 0 0 0 10px;
}

.grid-item > p, .grid-item > h3 {
    margin: 5px 50px 0 10px;
    display: inline-block
}

p[data-type='description'] {
    display: block;
}

p[data-type='priority']::before {
    content: 'Priority Level: ';
}

.grid-item > h2 {
    margin-top: 10px;
}

.grid-item > h3:before {
    content: 'Due: ';
}

.remove {
    display: inline-block;
}

.edit {
    display: inline-block;
}

.complete {
    background-color: green;
}

#add-item {
    display: block;
    width: 80px;
    height: 30px;
    margin: 5px auto;
}

#project-menu {
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
    min-height: 100%;
    width: 250px;
    min-width: 250px;
    position: absolute;
    left: 0;
    top: 0;
}

#project-menu > h2 {
    text-decoration: underline;
    font-size: 36px;
}

#create-project {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 40px;
    left: 50%;
    margin-left: -50px;
    border-radius: 10px;
}

button.folder {
    display: block;
    width: 80%;
    max-width: 250px;
    height: 30px;
    margin: 10px auto;
    background-color: gray;
    color: black;
}

#item-form {
    position: fixed;
    width: 300px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -150px;
    background-color: pink;
    border: black dashed 4px;
}

label {
    display: block;
    margin: 10px 20px 5px 20px;
}

input, textarea {
    display: block;
    margin: 0 auto;
    padding: 3px 0;
    width: 90%;
}

#confirm {
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
}

textarea {
    height: 60px;
    resize: none;
}